.App-header {
  background-color: #171b1c;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Logo {
  box-sizing: border-box;
  height: 15vh;
}

.BodyContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.PageTitle {
  font-weight: bold;
  font-size: larger;
}

.PageTitleContainer {
  display: flex;
  padding-top: 40px;
}

.LoginContainer {
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  display: flex;
  top: 70vh;
}

.LoginInputItem {
  border-width: 0px;
  border-bottom-width: 1px;
  user-select: none;
  text-align: center;
  outline-style: none;
  display: list-item;
}

.LoginInputContainer {
  padding-top: 10px;

}

.SignUpButtonContainer {
  display: flex;
  bottom: 50px;
  position: absolute;
}

.SignInButtonContainer {
  display: flex;
  padding-top: 25px;
}

.ButtonDefault {
  padding: 6px 15px 6px 15px;
}

.ButtonGray {
  border: none;
  font-weight: bold;
  background-color: #171b1c;
  color: #ffffff
}

.ButtonElo {
  border: none;
  font-weight: bold;
  background-color: #f9b233;
  color: #ffffff
}


