
.RootStyle{
    display: flex;
    flex-direction: row;
}

.SideBar{
    background-color: #171b1c;
    display: flex;
    width: 15vw;
    height: 100vh;
    align-items: 'center';
    flex-direction: column;
}

.Page{
    display:flex;
    padding: 20px 20px 20px 20px;
}

.LogoContainer{
    align-self:center;

}

.SideButtonContainer{
    padding-top: 20px;
    align-self: center;
    flex-direction: column;
    display: flex;
}

.SideButton{
    padding: 10px 0px 5px 0px;
    font-weight: bolder;
    font-size: large;
    color:#f9b233;
    background-color: #171b1c;
    align-self: center;
    border:none;
}

.ButtonGray {
    color: antiquewhite
}

.ButtonElo {
    color: #f9b233;
}

.WORKAROUND_CenterItem
{
    align-self: center;
    flex-direction: column;
    display: flex;
}

.LogOutButtonContainer {
    align-items: center;
    justify-self: center;
    flex-direction: column;
    bottom: 50px;
}

.LogOutButton {
    position: absolute;
    bottom: 50px;
    border-color: #d4552f;
    background-color:#171b1c;
    color:#d4552f;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    padding: 5px 30px 5px 30px;
    align-self: center;
}