
.RootStyle{
    display: flex;
}

.SideBar{
    background-color: #171b1c;
    display: flex;
    width: 15vw;
    height: 100vh;
    align-items: 'center';
    flex-direction: column;
}

.Page{
    display:flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
}

.FloatRight
{
    display:flex;
    flex-direction: column;
    padding: 20px 0px 20px 75px;   
}

.FloatLeft
{
    display:flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.LogoContainer{
    align-self:center;

}

.HeaderContainer{
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.Title
{
    display: flex;
    font-size: 30px;
    border-bottom-width: 1px;
    font-weight: bolder;
    padding-left:10px;
}

.SubTitle
{
    display: flex;
    font-size: 20px;
    border-bottom-width: 1px;
    font-weight: bold;
    padding-left:10px;
}

.SideButtonContainer{
    padding-top: 20px;
    align-self: center;
    flex-direction: column;
    display: flex;
}

.SideButton{
    padding: 10px 0px 5px 0px;
    font-weight: bolder;
    font-size: large;
    color:#f9b233;
    background-color: #171b1c;
    align-self: center;
    border:none;
}

.ButtonGray {
    color: antiquewhite
}

.ButtonElo {
    color: #f9b233;
}

/* workaround p/ centralizar item na sidebar,
por X motivos nada funciona em ReactJS
ad´pwdpawkdawopkadkapowadkop */
.WORKAROUND_CenterItem
{
    align-self: center;
    flex-direction: column;
    display: flex;
}

.LogOutButtonContainer {
    align-items: center;
    justify-self: center;
    flex-direction: column;
    bottom: 50px;
}

.LogOutButton {
    position: absolute;
    bottom: 50px;
    border-color: #d4552f;
    background-color:#171b1c;
    color:#d4552f;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    padding: 5px 30px 5px 30px;
    align-self: center;
}

.SignLeadButton {
    padding-top: 10px;
    display: flex;
    align-self: center;
}

.SignLeadInput {
    padding-top: 10px;
    display: flex;
    align-self: center;
}

.WORKAROUND_paddingLeft{
    padding-left: 10px;
}