.Header {
    background-color: '#ffffff';
    text-align: center;
}

.LoginInputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 40% 10px 40%
}

.Borderless {
    border-width: 0px 0px 0px 0px;
}

.Borders {
    border: solid black;
    border-width: 1px 1px 1px 1px;
}

.BorderRight {
    border-right: 1px;
}

.BorderLeft {
    border-left: 1px;
}

.BorderTop {
    border-top: 1px;
}

.BorderBottom {
    border-bottom: 1px;
}

.BorderlessRight {
    border-right: 0px;
}

.BorderlessLeft {
    border-left: 0px;
}

.BorderlessTop {
    border-top: 0px;
}

.BorderlessBottom {
    border-bottom: 0px;
}