.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #171b1c;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Logo {
  box-sizing: border-box;
  height: 15vh;
}

.BodyContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.PageTitle
{
  font-weight: bold;
  font-size: larger;
}

.PageTitleContainer
{
  display: flex;
  padding-top: 40px;
}

.LoginContainer
{
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  display:flex;
  top: 70vh;
}

.LoginInputItem
{
  border-width: 0px;
  border-bottom-width: 1px;
  user-select: none;
  text-align: center;
  outline-style: none;
  display: list-item;
}

.LoginInputContainer
{
  padding-top: 10px;

}

.Teste {
  align-self: center;
}

.SignUpButtonContainer {
  display:flex;
  bottom: 50px;
  position: absolute;
}

.SignInButtonContainer {
  display:flex;
  padding-top: 25px;
}

.ButtonDefault {
  padding: 6px 15px 6px 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
